@import '../../u0-scss/variables';
@import '../../u0-scss/libs/normalize';

.categories {
   ul {
      display: flex;
      @media screen and(max-width: 1000px) {
         flex-wrap: wrap;
         justify-content: center;
      }

      li {
         background-color: #f9f9f9;
         padding: 13px 30px;
         border-radius: 30px;
         margin-right: 10px;
         font-weight: bold;
         cursor: pointer;
         transition: background-color 0.1s ease-in-out;
         @include noselect();
         @media screen and(max-width: 1000px) {
            margin-bottom: 10px;
         }

         &:hover {
            background-color: darken(#f9f9f9, 2%);
         }

         &:active {
            background-color: darken(#f9f9f9, 5%);
         }

         &.active {
            background-color: #282828;
            color: #fff;
         }
      }
   }
}
