@import '../../u0-scss/variables';
@import '../../u0-scss/libs/normalize';

.pizza-block {
   width: 100%;
   text-align: center;
   margin-bottom: 65px;
   padding: 16px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(63,93,138,0.5);
   cursor: pointer;
   transition: transform .15s linear,box-shadow .15s linear,-webkit-transform .15s linear,-webkit-box-shadow .15s linear;

   @media (max-width: 1090px) {
      margin-bottom: 35px;
   }

   @media (max-width: 768px) {
      &:not(:last-of-type) {
         border-bottom: 1px solid #efefef;
         margin-bottom: 25px;
         padding-bottom: 45px;
      }
   }

   &__image {
      width: 260px;
   }

   &__title {
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
   }

   &__selector {
      display: flex;
      background-color: #f3f3f3;
      border-radius: 10px;
      flex-direction: column;
      padding: 6px;

      ul {
         display: flex;
         flex: 1;

         &:first-of-type {
            margin-bottom: 6px;
         }

         li {
            padding: 8px;
            flex: 1;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            @include noselect();

            &.active {
               background: #ffffff;
               box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
               border-radius: 5px;
               cursor: auto;
            }

            &.disabled {
               opacity: 0.4;
               pointer-events: none;
            }
         }
      }
   }

   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
   }

   &__price {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
   }
   &:hover {
      transform: translateY(-3px)
   }
}
